.recomendados, .topfive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 90%;
  text-decoration: none;
  margin: 50px;
  padding: 50px;
}
.serviciosTres, .serviciosDos, .serviciosUno {
  border: none;
}
.containerWarren img, .containerNicorada img {
  border-radius: 35%;
  width: 99%;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5;
}
.body {
  background-color: black;
}
h1 {
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 90%;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
}
h3 {
  margin: 7px;
  padding: 6px;
  text-decoration: none;
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}
h5{
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}
.navLogo img {
  width: 250px;
}
.navLista .navLinks a {
  font-size: 96%;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  color: white;
}
.fotosHernan {
  border-radius: 33%;
}
.topfiveH3 {
  margin: 5px;
  padding: 5px;
}
.topfive .topfivespotify {
  text-align: center;
  width: 30%;
}
.recomendadosH3 {
  margin: 5px;
  padding: 5px;
}
.recomendados .recomendadossouncloud {
  width: 30%;
}
.recomendados select option {
  height: 2px;
  width: 2px;
  text-align: center;
  border-radius: 2px solid withe;
}
/* SEGUNDA PARTE */
.fotostresamigos {
  border-radius: 33%;
}
.titulodos {
  background-color: black;
}
/* TERCER PARTE  */
.titulotres h3 {
  background-color: black;
  border: 2px solid withe;
  margin-top: 20px;
}
.servicios{
  border: none;
}
.containerBasico{
  margin-bottom: 20px;
}
.containerIntermedio{
  margin-bottom: 40px;
}
.basicolista {
  background-color: black;
  color: white;
  height: 170px;
  font-size: 90%;
  font-family: 'Courier New', Courier, monospace;
}
.basicolista select option{
  text-align: center;
}
.intermediolista {
  background-color: black;
  color: white;
  height: 170px;
  font-size: 90%;
  font-family: 'Courier New', Courier, monospace;
}
.intermediolista select option{
  text-align: center;
}
.fullLista {
  border: none;
  background-color: black;
  color: white;
  height: 170px;
  font-size: 90%;
  font-family: 'Courier New', Courier, monospace;
}
.fullLista select option{
  text-align: center;
}
/* CUARTA PARTE */
.containerNicorada {
  border: solid 1px black;
  border: none;
  text-align: center;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  width: 99%;
}
.containerWarren {
  border: black solid 2px;
  border: none;
  text-align: center;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  width: 100%;
}
/* FORMULARIO */
.container__formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  width: 33%;
  margin-bottom: 20px;
}
.container__formulario .formulario__mail{
  width: 100%;
  text-align: center;
}
.container__formulario .container__boton{
  width: 100%;
}
/* PROXIMOS EVENTOS  */
.bodyproximoseventos {
  background-color: black;
}
 .regreso ul a{
  text-decoration: none;
  color: white;
}
.h1proximoseventos {
  display: flex;
  flex-direction: column;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 130%;
}
.eventouno {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-size: 200%;
  color: white;
}
.eventouno img {
  border-radius: 15%;
  width: 80%;
}
.eventouno a {
  width: 200px;
  font-size: 100%;
  background-color: black;
  border: solid white 5px;
}
.eventodos {
  background-color: black;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.eventodos img {
  border-radius: 15%;
  width: 80%;
}
.eventodos a {
  width: 200px;
  font-size: 100%;
  background-color: black;
  border: solid white 5px;
}
/*mediaqueries*/
@media only screen and (max-width: 580px) {
*{
  margin: 0;
  padding: 0;
}
  /* PRIMERA PARTE */
h1{
  display: none;
  flex-direction: column;
  text-align: center;
  font-size: 80%;
}
h3{
  text-align: center;
}
h5{
  text-align: center;
}
.container{
  width: 95%;
}
.containerhernan{
  width: 98%;
}
.navLogo img {
  width: 150px;
}
.navLista {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.topfive{
  width: 80%;
}
.topfive .topfivespotify{
  height: 90%;
  width: 80%;
}
.recomendados{
  display: flex;
  flex-direction: column;
  margin-top: 103px;
  width: 80%;
} 
.recomendados .recomendadossouncloud{
 width: 120%;
  margin-bottom: 65px;
}
  /* SEGUNDA PARTE  */
.titulodos h3 {
  margin: 15px;
  padding: 15px;
}
  /* TERCERA PARTE  */
.servicios {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 99%; 
}
.containerBasico {
  margin-top: 50px;
  margin-bottom: 100px;
}
.containerIntermedio {
  margin-bottom: 120px;
}
.containerFull {
  margin-top: 20px;
}
/* FORMULARIO */
.container__formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 20px;
}  
.container__formulario .formulario__mail{
  width: 100%;
  text-align: center;
}
.container__formulario .container__boton{
  width: 100%;
} 
}
@media only screen and (max-width: 768px) {
h1{
  display: none;
  flex-direction: column;
  text-align: center;
  font-size: 80%;
}
h3{
  text-align: center;
}
h5{
  text-align: center;
}
.container{
  width: 98%;
}
.containerhernan{
  width: 98%;
}
.navLogo img {
  width: 150p
}
.navLista {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.topfive{
  width: 80%;
}.topfive .topfivespotify{
  height: 50%;
  width: 50%;
}
.recomendados{
  display: flex;
  flex-direction: column;
  margin-top: 103px;
  width: 80%;
}
.recomendados .recomendadossouncloud{
  width: 50%;
  margin-bottom: 65px;
}
/* SEGUNDA PARTE  */
.titulodos h3 {
  margin: 15px;
  padding: 15px;
}
/* TERCERA PARTE  */
.servicios{  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 99%;     
}
.container__basico {
  margin-top: 20px;
  margin-bottom: 103px;
  width: 99%;
}
.containerIntermedio {
  margin-bottom: 103px;
  width: 99%;
}
.containerFull {
  margin-bottom: 103px;
  width: 99%;
}
/* CUARTA PARTE */
.containerIntermedio{
  margin-top: 75px;
}
/* FORMULARIO */
.container__formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  width: 33%;
  margin-bottom: 20px;
}
.container__formulario .formulario__mail{
  width: 100%; 
  text-align: center;
}
.container__formulario .container__boton{  
  width: 100%;
}
}
/*# sourceMappingURL=style.css.map */
